body{
    background-color: rgb(174, 226, 97);
    color: rgb(174, 226, 97);
}

.divCadastro{
    border-radius: 5px;
    background-color: honeydew;
    margin-left: 35%;
    width: 40%;
    margin-top: 1%;
}

.bottom_nav{
    background-color: grey;
    color: grey;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.vasco{
    size: 10px;
    height: 50px;
    width: 50px;
}

